@font-face {
  font-family: "Oswald", sans-serif;
  src: url('../fonts/oswald/oswald-latin-700.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  src: url('../fonts/inter/inter-cyrillic-600.woff2') format('woff2');
}

@font-face {
  font-family: "Druk Wide Cy Web Bold Regular";
  src: url('../fonts/druk/Druk-Wide-Cy.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/mont/Mont-Heavy.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/mont/Mont-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

* p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  display: inline-block;
  text-decoration: none !important;
}

ol,
ul {
  list-style: none;
  text-decoration: none !important;
}

#header {
  position: absolute; 
  margin: 30px 20px 0;
  left: 0; 
  top: 0; 
  right: 0; 
  transition: all 0.5s; 
  z-index: 997; 
  display: flex; 
  color: #ffffff; 
  justify-content: space-between; 
  align-items: center; 
  background-color: transparent; 
}

#header > div {
  width: 100vw;
}

.menu-container {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  padding: 50px 0 0;
}

.menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  gap: 35px;
}

.menu-list li { 
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Druk Wide Cy Web Bold Regular";
  font-weight: 500;
} 

.menu-list li a {
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #1ea9f6;
  border-radius: 10px;
  width: 100%;
}

.menu-list-link:hover a { 
  color: #1ea9f6;
} 

.menu-list-link:hover { 
  color: #1ea9f6;
} 

.logo-container {
  display: flex;
  justify-content: start;
}
.logo-container:hover a {
  color: #1ea9f6;
}
.logo {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
.box-container {
  display: none;
  justify-content: end;
  position: relative;
}
.menu-box {
  background-color: #1ea9f6;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.toggle-icon {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.mainPictures {
  display: none;
}
.main-container {
  background-image: url("../images/donate-pic.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 20px 20px 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 11;
}

.overlayDesktop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, 
  rgba(15, 17, 18, 0.85) 0%,
  rgba(18, 20, 21, 0.95) 50% 
);
  z-index: -1;
}

.overlayMobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
  rgba(15, 17, 18, 0.4) 0%, 
  rgba(18, 20, 21, 0.6) 50% 
);
  z-index: -1;
}

.overlay-footer {
  background: radial-gradient(circle,
    rgba(15, 17, 18, 0.8) 0%, 
    rgba(15, 17, 18, 1) 20%, 
    rgba(18, 20, 21, 1) 43%);
    z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-container h1 {
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  color:#ffffff;
  margin-bottom: 40px;
  font-family: "Druk Wide Cy Web Bold Regular";
  font-weight: 700;
}

.title-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 240px;
}

.secure-badge{
  background-color: rgb(28, 34, 29);
  padding: 7px 16px;
  border-radius: 5px;
  color: rgb(115, 159, 111);
  display: flex;
  justify-content: space-between;
  width: 135px;
  align-items: center;
}

.secure-badge div {
  margin-bottom: 7px;
}

.secure-badge p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", sans-serif !important;
  font-weight: 700;
  font-size: 14px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group div {
  position: absolute; 
  top: 10px;
  left: 18px;
}

.formWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 30px 10px 50px;
  border: 1px solid #2E2E2E;
  border-radius: 5px;
  background-color: #181818;
  color: #ffffff;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 16px;                          
}

.input:hover {
  outline: #1EA9F6;
  border-color:#1EA9F6 ;
}

.input:focus {
  outline: #1EA9F6;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group a {
  font-weight: 700;
  text-decoration: none;
  color: #cfcfd0;
  opacity: 0.8;
  text-decoration: underline;
  margin-left: 5px;
  font-family: "Inter", sans-serif !important;
}


.form-group a:hover {
  text-decoration: underline;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #1EA9F6;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  margin-top: 90px;
  position: absolute;
  top: 300px;
  font-family: "Druk Wide Cy Web Bold Regular";
  font-weight: 700;
}

.conditions {
  color: #cfcfd0;
  opacity: 0.8;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  align-items: flex-start;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

.conditions input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #1EA9F6; 
  border-radius: 5px;
  background-color: #252525;
  cursor: pointer;
  margin-right: 10px;
  flex-shrink: 0; 
  margin-top: 3px;
}

.conditions input[type="checkbox"]:checked {
  background-color: #1EA9F6;
}

.conditions input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*FOOTER */

.footer {
  position: relative;
  background-image: url("../images/donate-mobile-back.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 10% 20px;
}
.footer-top {
  width: 100%;
  top: 0;
  right: 0;
  height: 300px;
  position: absolute;
  z-index: 1;
}
.footer-dots {
  bottom: 100px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: 100;
}
.footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(15, 17, 18, 0.54) 0%,
    rgba(18, 20, 21, 0.72) 43%
  );
  z-index: -1;
}

.footer-wrapper {
  position: relative;
  z-index: 1;

}

.footer-info > div:first-child {
  margin-bottom: 50px;
}

.footer-info-block {
  flex-direction: column;
  display: flex;
}

.footer-info-block-title {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none !important;
}

div.footer-info-block-title {
  font-family: "Druk Wide Cy Web Bold Regular";
  font-weight: 700;
}

a.footer-info-block-title h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 20px !important;
}

div.footer-info-block-title h5 {
  font-size: 16px !important;
}

a.footer-info-block-title:hover {
  color: #1ea9f6;
}

.footer-info-block-item:hover {
  color: #1ea9f6;
}

.footer-info-block-item {
  color: #ffffff;
  margin-top: 5px;
  font-size: 16px;
  text-decoration: none !important;
  font-family: 'Mont', sans-serif;
  font-weight: 600;
}

.footer-copy {
  color: rgb(162, 162, 162);
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Mont', sans-serif;
  font-weight: 600;
}

.botoom-linear-steps {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: -12;
}

@media screen and (min-width: 374px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  #header {
    margin: 30px 40px;
  }

  .menu-box-mobile {
    display: none;
  }

  .main-container {
    padding: 20px 200px 80px;
    height: 77vh;
  }

  .footer {
    padding: 150px 60px 60px;
  }
  .footer-top {
    height: 190px;
  }
  .footer-dots {
    bottom: 200px;
    position: absolute;
    height: 300px;
    z-index: 1222;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .footer-info {
    display: flex;
    align-items: flex-end;
  }
  
  .footer-info > div:first-child {
    margin-bottom: 0;
    margin-right: 50px;
  }
  
  .footer-info-block {
    flex-direction: column;
    display: flex;
  }
  
  .footer-info-block-title {
    margin-bottom: 10px;
  }

  .footer-info-block-item {
    color: #ffffff;
  }

  .footer-info-block-item:first-child {
    margin-bottom: 5px;
  }
  
  .footer-copy {
    color: #FFFFFF;
    margin-top: 0;
  }
  .footer-copy p {
    margin-bottom: 0;
    font-size: 13px;
  }

  a.footer-info-block-title h5 {
    font-size: 18px !important;
  }
  
  div.footer-info-block-title h5 {
    font-size: 14px !important;
  }

  .footer-info-block-item {
    font-size: 13px !important;
  }
  a.footer-info-block-title:hover {
    color: #1ea9f6;
  }
  
  .footer-info-block-item:hover {
    color: #1ea9f6;
  }
 }


 @media screen and (min-width: 821px) {
  body {
    overflow: hidden;
  }

  #header {
    margin: 20px 40px 0;
  }
  .toggle-icon {
    display: none;
  }
  .box-container {
    display: flex;
    justify-content: end;
    position: relative;
  }
  #header > div {
    width: 33%;
  }

  .menu-container {
    display: block;
    position: static;
    top: 0;
    left: 0;
    transform: none;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .menu-list-link-mobile {
    display: none;
  }

  .menu-list {
    margin: 0;
    padding: 0;
    gap: 0;
    flex-direction: row;
  }

  .menu-list li {
    margin: 0;
    width: auto;
  }

  .menu-list li a {
    margin: 0;
    padding: 20px;
    cursor: pointer;
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    border: none;
    text-transform: none;
    font-size: 12px;
    width: auto;
  }

  .logo-container {
    justify-content: center;
  }

  .main-container {
    padding: 20px 230px 80px;
  }
}

 @media screen and (min-width: 1024px) {

  .main-container {
    padding: 20px 270px 80px;
  }

  .menu-list li {
    font-size: 14px;
  }
 }

 @media screen and (min-width: 1250px) {

  body {
    background-image: url("../images/donate-desktop-back.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu-list li a {
    font-size: 14px;
  }

  .mainWrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }

  .mainPictures {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 60%;
  }

  .mainPictures img {
    width: 70%;
    object-fit: cover;
    max-width: 100%;
    opacity: 0;
    transform: translateY(-400px);
  }

  .main-container {
    background-image: none;
    width: 40%;
    padding: 80px 100px 0 50px;
    box-shadow: none;
    opacity: 0;
    transform: translateX(700px);
  }

  .overlayDesktop {
    display: block;
  }

  .overlayMobile {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0%;
    background: none;
    display: none;
  }

  .btn-submit {
    position: relative;
    margin-top: 0;
    top: 0;
    width: 210px;
    font-size: 14px;
  }
  .main-container h1 {
    font-size: 13px;
    text-align: start;
    margin: 0;
  }

  .input {
    padding: 5px 30px 5px 50px;
  }
  .form-group div {
    top: 4px;
  }
  .conditions {
    font-size: 14px;
  }

  .title-form-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .secure-badge {
    padding: 3px 16px;
    width: 120px;
  }

  .secure-badge p {
    font-size: 11px;
  }

  .overlay-footer {
    display: none;
  }

  .footer-top {
    display: none;
  }
  .footer {
    padding: 0;
    background-image: none;
  }

  .footer-info > div:first-child {
    margin-left: 60px;
  }

  .footer-copy p{
    font-size: 12px;
  }

  .footer-copy {
    position: absolute;
    bottom: 30px;
    right: 0;
    margin-right: 60px;
  }

  a.footer-info-block-title h5 {
    font-size: 15px !important;
  }
  
  div.footer-info-block-title h5 {
    font-size: 11px !important;
  }

  .footer-info-block-item {
    font-size: 12px !important;
  }

  .footer-info {
    position: absolute;
    bottom: 30px;
  }

  .botoom-linear-steps {
    display: none;
  }
 }

 @media screen and (min-width: 1560px) {
  .menu-list li a {
    font-size: 15px;
    padding: 30px;
  }

  .mainPictures img {
    width: 90%;
  }

  .input {
    padding: 10px 30px 10px 50px;
  }
  .form-group div {
    top: 10px;
  }
  .conditions {
    font-size: 16px;
  }

  .main-container {
    padding: 15% 100px 0 50px;
  }
  .form-group {
    margin-bottom: 20px;
  }

  .footer {
    bottom: 3.5%;
  }

  .secure-badge {
    width: 140px;
  }

  .secure-badge p {
    font-size: 15px;
  }

  .footer-copy p{
    font-size: 14px;
  }
  a.footer-info-block-title h5 {
    font-size: 20px !important;
  }
  
  div.footer-info-block-title h5 {
    font-size: 16px !important;
  }
  .footer-info-block-item {
    font-size: 14px !important;
  }
 }

 @media screen and (min-width: 1980px) {

  .mainPictures img {
    width: 85%;
  }
  .main-container {
    padding: 14% 200px 0 0;
  }

  .main-container h1 {
    font-size: 24px;
    text-align: start;
  }
  .form-group {
    margin-bottom: 25px;
  }

  .secure-badge {
    padding: 7px 16px;
  }

  .footer-info {
    bottom: 60px;
  }
  .footer-info > div:first-child {
    margin-right: 100px;
  }

  .footer-copy {
    bottom: 60px;
  }

  .footer-copy p{
    font-size: 16px;
  }

  a.footer-info-block-title h5 {
    font-size: 24px !important;
  }
  
  div.footer-info-block-title h5 {
    font-size: 20px !important;
  }
  .footer-info-block-item {
    font-size: 16px !important;
  }

  .btn-submit {
    font-size: 20px;
  }

  .menu-list li a {
    font-size: 16px;
  }
 }